body {
    background: linear-gradient(to right, #3f3f3f, #737373); /* Purple to blue gradient */
    height: 100vh; /* Make sure the gradient covers the entire screen */
    margin: 0;
    font-family: 'Lexend Giga', sans-serif;
}


.navbar {
    display: flex;
    background-color: transparent;
    overflow: hidden;
    justify-content: space-around;
    border: 2px solid black;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10%;
    margin: 4px 0 4px 0;
    text-decoration: none;
    border-radius: 4px;
    background-color: black;
}

.navbar a:hover {
    background-color: #333333;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 4px 4px 4px 4px;
    align-items: center;
    padding-left: 40px;
}

.header h1 {
    margin-right: 10px;
}

/* Or applying Lexend Giga to specific elements */
h1, h2, h3 {
    font-family: 'Lexend Giga', sans-serif;
    color: white;
}

p {
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 300; /* Example of applying a lighter weight */
}

/* General footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 10;  /* Ensures the footer is on top of other content */
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .footer-left p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-center ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer-center li {
    display: inline;
  }
  
  .footer-center a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .footer-center a:hover {
    color: #f4a261;
  }
  
  .footer-right a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    transition: color 0.3s;
  }
  
  .footer-right a:hover {
    color: #f4a261;
  }
  