@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(
    to right,
    #31199eaa,
    #5c62cd
  ); /* Purple to blue gradient */
  height: 100vh; /* Make sure the gradient covers the entire screen */
  margin: 0;
  font-family: "Lexend Giga", sans-serif;
}

.navbar {
  display: flex;
  background-color: #333;
  overflow: hidden;
  justify-content: space-around;
  border: 2px solid black;
}

/* .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10%;
    margin: 4px 0 4px 0;
    text-decoration: none;
    border-radius: 4px;
    background-color: black;
    transition: background-color 0.5s ease;
} */

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10%;
  margin: 4px 0 4px 0;
  text-decoration: none;
  border-radius: 4px;
  background-color: black;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar a:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    0 0 20px rgb(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: #272727;
}

/* .navbar a:hover {
    background-color: #272727;
} */

.mainLayout {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 92%;
}

.header {
  display: flex;
  justify-content: space-between;
  /* margin: 4px 4px 4px 4px; */
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
}

.header h1 {
  margin-right: 10px;
}

.header img {
  height: 50px;
  width: 50px;
}

/* Or applying Lexend Giga to specific elements */
h1,
h2,
h3 {
  font-family: "Lexend Giga", sans-serif;
  color: white;
}

p {
  font-family: "Lexend Giga", sans-serif;
  font-weight: 300; /* Example of applying a lighter weight */
}

/* General footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 10; /* Ensures the footer is on top of other content */
  border: 2px solid black;
  transition: all 0.5s ease-in-out;
  height: 3%;
}

footer:hover {
  height: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
}

.footer-center ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-center li {
  display: inline;
}

.footer-center a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
}

.footer-center a:hover {
  color: #5c62cd;
  font-size: 20px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  transition: all 0.3s;
}

.footer-right a:hover {
  color: #5c62cd;
  font-size: 25px;
}

.text {
  width: 50%;
  height: 92%;
  background-color: rgb(36, 36, 36, 1);
  border-radius: 8px;
  margin: 10px;
  color: white;
}

.contact-container {
  background-color: rgb(36, 36, 36, 1);
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: white;
}

.contact-details p {
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

.contact-details a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contact-details a:hover {
  text-decoration: underline;
  color: #5c62cd;
}

.contact-socials {
  margin-top: 20px;
  color: white;
}

.contact-socials a {
  display: inline-block;
  margin: 0 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.contact-socials a:hover {
  color: #5c62cd;
}

.about-container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
  color: white;
  background: rgb(36, 36, 36, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.about-project {
  margin-bottom: 30px;
}

.about-team {
  margin-bottom: 30px;
}

.team-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  max-width: 200px;
  margin: 10px;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-member p {
  font-size: 12px;
}

.about-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.about-links a:hover {
  color: #5c62cd;
}
