.header {
    display: flex;
    justify-content: space-between;
    /* margin: 4px 4px 4px 4px; */
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: transparent;
}

.header h1 {
    margin-right: 10px;
}

.header img {
    height: 50px;
    width: 50px;
}